{% extends "layout.html" %}

{% block title %}About StitchBook50{% endblock %}

{% block main %}

    <h4 class="page-header">Behind StitchBook50</h4>

    <div>
        <p>The StitchBook50 project was started by Heather C as the final project for CS50x:</p>
        <blockquote>
            The final project is your opportunity to take your newfound savvy with programming out for a spin and develop your very 
            own piece of software. So long as your project draws upon this course’s lessons, the nature of your project is entirely up 
            to you. You may implement your project in any language(s). You are welcome to utilize infrastructure other than the CS50 IDE. 
            All that we ask is that you build something of interest to you, that you solve an actual problem, that you impact your community,
             or that you change the world. Strive to create something that outlives this course.
        </blockquote>
        <p>
            As a cross-stitcher of 10 years, I wanted to create a project that would fulfil some of the same functionality that the
            more well-known Ravelry provides for knitters and other yarn crafters: a web application that would allow cross stitchers 
            to keep track of their projects.
        </p>
        <p>
            While initially StitchBook50 offers limited functionality, I hope as my web development
            experience improves, I will be able to provide additional features for the app.
        </p>
        <p>
            In the meantime, if even one person other than myself finds StitchBook50 useful, I will consider the application to have
            been a success. I hope you enjoy your time here.
        </p>
    
    </div>    

{% endblock %}