{% extends "layout.html" %}

{% block title %}Register{% endblock %}

{% block main %}

    <div class="small-container" align="center">
        <h2>Forgotten Password</h2>
        {% if redirect is true %}
        <div class="alert alert-danger" role="alert">
            Username and email do not match an account, try again
        </div>
        {% endif %}

        <form action="/password" method="post">
            <div class="col">
                <div class="form-group">
                    <input class="form-control" type="text" name="email" placeholder="Enter Email">
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" name="username" placeholder="Enter Username">
                </div>
                <div class="form-group">
                    <input class="form-control" type="password" name="password" placeholder="Choose a New Password">
                </div>
                <div class="form-group">
                    <input class="form-control" type="password" name="confirm" placeholder="Confirm New Password">
                </div>
                <button class ="btn btn-custom" type="submit">Change Password</button>
            </div>
        </form>
    </div>

    <script>
        function checkPass() {
            var form = document.getElementById('needs-validation')

            var password = document.getElementById('password');
            var confirm = document.getElementById('confirm');

            var message = document.getElementById('validate-message');
            var submit = document.getElementById('submit');

            if (password.value === confirm.value) {
                message.classList.remove('invalid-feedback');
                message.classList.add('valid-feedback');
                message.innerHTML = 'Looks good!';
                submit.disabled = false;
                form.classList.add('was-validated')
            } else {
                submit.disabled = true;
                message.classList.remove('valid-feedback');
                message.classList.add('invalid-feedback');
                message.innerHTML = 'Passwords do not match';
                form.classList.remove('was-validated')
                confirm.classList.add('is-invalid')
            }
        }
    </script>

{% endblock %}