{% extends "layout.html" %}

{% block title %}Title{% endblock %}

{% block main %}

    <table>
        <tr>
            <td>Username</td>
            <td>PLACEHOLDER</td>
        </tr>
        <tr>
            <td>Password</td>
            <td>PLACEHOLDER</td>
        </tr>
        <tr>
            <td>Email Address</td>
            <td>Placeholder</td>
        </tr>
    </table>

{% endblock %}




<!-- User will need to be able to view and change user details:
Username (view only)
Password (change; also enable changing/resetting password on login screen!)
(More information about secure password storage: https://techmonger.github.io/4/secure-passwords-werkzeug/)
Email (change)
Allow user to set timezone
Allow user to set whether their default preference is cm or inches for both thread counts and actual sizes
Add option to disable inventory
DELETE ACCOUNT option-->